/* styles.css */
.center-image {
  display: block;
  margin: 0 auto;
}

.centered-text {
    text-align: center;
    
}

.purple-text {
    text-align: center;
            color: #ccb0f7;
        }

body.index-page {

  /* Define the gradient using linear-gradient with three colors */
  background-image: linear-gradient(to bottom, #5102a6, #e9c7ff, #ffffff);
  background-color: #ccb0f7;
}

body.test-page {
    background-image: linear-gradient(to bottom, #0289cc, #bae8ff, #ffffff);
    background-color: #95b9ed;
}

body.applications-page {
    background-image: linear-gradient(to bottom, #fc9f1c, #fcd092, #ffffff);
    background-color: #e38705;
}

body.algorithm-page {
    background-image: linear-gradient(to bottom, #11bf7c, #88d1b5, #ffffff);
    background-color: #02a365;
}

body.intro-page {
    background-image: linear-gradient(to bottom, #4138ba, #716bbf, #ffffff);
    background-color: #0a0273;
}

.custom-button {
  /* Button background color */
  background-color: #4CAF50;
  /* Button text color */
  color: white;
  /* Add some padding to make the button bigger */
  padding: 10px 20px;
  /* Add rounded corners to the button */
  border-radius: 4px;
  /* Add a hover effect when the mouse is over the button */
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049;
}



.hero {
    width: 100%;
    margin: auto;
}

.navbar {
    margin: 30px auto;
    display: flex;
    align-items: center;
    
}

ul{
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
    
}

ul li a{
    
    text-decoration: none;
    color: #ffffff;
    padding: 0 10px;
    position: relative;
}

ul li a::after {
    content: '';
    width: 0;
    height: 10px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    transition: 0.5s;
    
}

ul li a:hover::after {
    width: 100%;
}
