{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
       
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
     
      <!-- Bootstrap core CSS -->
    
    
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
      <link href="css/business-frontpage.css" rel="stylesheet">
   -->
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=REM&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">


   </head>
   <body class="applications-page">
      <div class = "hero">
          <div class = "navbar">
              <ul>
              <li><a href="{% url 'index' %}" >Home</a></li>
              <li><a href="{% url 'intro' %}">Introduction</a></li>
              <li><a href="{% url 'algorithm' %}">The Algorithm</a></li>
              <li><a href="{% url 'applications' %}">Real-World Applications</a></li>
              <li><a href="{% url 'test' %}">Test it Out!</a></li>
                </ul>
              </div>
          </div>
    
       

       
       
       <div style="text-align: center; font-size: 20px; font-family: 'Lato', sans-serif; font-weight: 300;" >
           <br>
           <h1>REAL-WORLD APPLICATIONS</h1>
           <br>
           </div>
        <div style="padding-left: 20px; font-size: 20px ">
           <p>Grover's algorithm can be used to solve real-world problems such as k-SAT problems. A k-SAT problem is a problem consisting of clauses that have k boolean literals, where the goal is to find the solution to all the clauses. The problem includes logical operators such as AND, OR, and NOT that represent the relationship between the boolean literals.</p>
           <br>
           <p>Let's take a closer look at some of the real-life applications k-SAT problems can model.</p>
           <div style="display: flex; justify-content: space-between; padding: 50px;">
               <div style="padding-left: 50px; text-align: center; font-size: 20px">
               <img src="{% static 'DNA.png' %}" alt="DNA" width="250">
                   <p>Identifying protein codons accurately is significant in the medical field.</p>
                   </div>
               <div style="padding-left: 100px; font-size: 20px">
           <h3>Biotechnology</h3>
           <p>In genomes, important polymers such as deoxyribonucleic acid (DNA) and ribonucleic acid (RNA) consist of codons, such as the pattern "UGU" or "UGC", which represent a sequence of three nucleotides. Each nucleotide has a corresponding "matching" nucleotide. For example, G matches with C. We can think of these values as booleans then, as each nucelotide can be either true or false; if we are trying to find the nucelotide G, the boolean literal can be either true (G) or false (C). We can then model problems based on the clauses we want to see satisfied, such as (U OR G OR NOT C) AND (NOT U OR G OR C). <b> Using k-SAT problems and Grover's search algorithms can potentially streamline the process of protein identification and analysis. </b></p>
           </div>
           </div>
           <div style="display: flex; justify-content: space-between; padding: 50px;">
               <div style="padding-left: 50px; text-align: center; font-size: 20px">
               <img src="{% static 'weather.png' %}" alt="weather" width="250">
                   <p>Weather pattern tracking is important for airplane pilots, to environmental reserachers, to everyday citizens.</p>
                   </div>
               <div style="padding-left: 100px; font-size: 20px">
           <h3>Weather Controls</h3>
           <p>Say a weather channel, to best fit the needs of their viewers, is trying to determine what conditions are best for driving. We can model weather controls as a k-SAT problem by checking multiple weather conditions. Each literal would represent a certain weather condition, such as “sunny/not sunny”. For example, if they are trying to decide whether it is a good day for people to go outside, they might want to solve the problem (sunny OR windy) AND (sunny OR not windy).</p>
               </div>
               </div>
           <div style="display: flex; justify-content: space-between; padding: 50px;">
               <div style="padding-left: 50px; text-align: center; font-size: 20px">
               <img src="{% static 'route.png' %}" alt="route" width="250">
                   <p>Navigation apps are essential in our everyday lives.</p>
                   </div>
               <div style="padding-left: 100px; font-size: 20px">
           <h3>Route Determination</h3>
           <p>Consider navigation apps like Waze, Google Maps, and Apple Maps. We can use k-SAT problems to determine the ideal route for a person to commute to work or school. For example, the literals may be to find a road that is "toll-free/not toll-free" and "light traffic/not light traffic". We can then solve a problem such as (toll-free OR light traffic) AND (toll-free OR not light traffic).</p>
           <br><br><br>
           </div>
               </div>
           <div style="padding-left: 20px; font-size: 20px">
           <p>These are only a few of the real-world applications that k-SAT problems can be used to model. Here are some more (consider how you would represent these problems as literals and clauses):
           <ol>
             <li>Solving a Sudoku grid</li>
             <li>Event scheduling</li>
             <li>Deciding which person is best to hire for the company based on credentials</li>
             <li>Determining which classes to take in order to fulfill school credit requirements.</li>
           </ol>
           <br>
           Can you think of any others?</p>
           <br><br><br>
       </div>
     </div>
           
   </body>
</html>
